<h1><%= @greeting %></h1>

<p>
  Your StaffPlan account is growing! We've updated your account based on the <%= pluralize(@new_subscription_count, 'user') %> in your account.
</p>
<p>
  Happy Planning!
</p>