<div>
  <div class="sm:hidden" data-controller="settings-tabs">
    <label for="tabs" class="sr-only">Select a tab</label>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <select data-action="change->settings-tabs#handleChange" name="tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
      <%= settings_option "General", settings_path %>
      <%= settings_option "Billing", settings_billing_information_path %>
    </select>
  </div>
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <%= settings_link "General", settings_path %>
        <%= settings_link "Billing", settings_billing_information_path %>
      </nav>
    </div>
  </div>
</div>
