<tr>
  <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-0 truncate" style="width: 200px;">
    <%= @project.name %>
  </td>
  <%= render(AssignmentWorkWeeksComponent.new(assignment: @assignment, beginning_of_week: @beginning_of_week)) %>
</tr>