<main class="flex-1 timeline-grid-bg">
  <div class="animate-fadeInPage">
    <div class="min-h-full timeline-grid-bg">
      <table
        class="min-w-full timeline-grid-bg text-contrastBlue text-sm border-none"
      >
        <%= render StaffPlan::HeaderComponent.new(user:) %>
        <%= render StaffPlan::ClientsComponent.new(user:) %>
      </table>
    </div>
  </div>
</main>
