<div>
  <%= link_to('To the Staffplan React UI!', react_staffplan_url) %>
</div>
<table
  class="min-w-full timeline-grid-bg text-contrastBlue text-sm border-none"
>
  <%= render StaffPlan::HeaderComponent.new(user:) %>
  <%= render StaffPlan::ClientsComponent.new(user:) %>
</table>
