---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Streich%2C+Murphy+and+Torphy+1+%7C+Lacey+Hammes+1&email=something%40static.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bf9d2307-06a4-4ae7-8194-09e57fc7894a
      Original-Request:
      - req_3M9ndpqJxMWBvu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PedWT4uA3p04bM",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1709253988,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "something@static.com",
          "invoice_prefix": "43C33E99",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Streich, Murphy and Torphy 1 | Lacey Hammes 1",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 01 Mar 2024 00:46:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_PedWT4uA3p04bM&items[0][price]=price_1Oo7tQBLjyMcgacQSNLewS9y&items[0][quantity]=1&trial_period_days=30&trial_settings[end_behavior][missing_payment_method]=cancel&payment_settings[save_default_payment_method]=on_subscription
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d88f0f3c-fb0c-41de-a2ab-61044d077d64
      Original-Request:
      - req_HeN68Tvl887vTK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1OpKF6BLjyMcgacQHQn4092y",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1711845988,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1709253988,
          "currency": "usd",
          "current_period_end": 1711845988,
          "current_period_start": 1709253988,
          "customer": "cus_PedWT4uA3p04bM",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_PedWDT3pwuwiZ4",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1709253989,
                "metadata": {},
                "plan": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1OpKF6BLjyMcgacQHQn4092y",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1OpKF6BLjyMcgacQHQn4092y"
          },
          "latest_invoice": "in_1OpKF6BLjyMcgacQ56x0JCCl",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "on_subscription"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": "seti_1OpKF7BLjyMcgacQqCgXJPic",
          "pending_update": null,
          "plan": {
            "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1708968188,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_PdOgBPQqj1Ri1R",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1709253988,
          "status": "trialing",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": 1711845988,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "cancel"
            }
          },
          "trial_start": 1709253988
        }
  recorded_at: Fri, 01 Mar 2024 00:46:29 GMT
recorded_with: VCR 6.2.0
