---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Durgan+Group+3%27s%27+Company+%7C+Durgan+Group+3&email=something%40static.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c5c693ca-d94a-421d-924e-e4941fce2fc4
      Original-Request:
      - req_dmIJjU8NJMkYm0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PcHCxkPlvJvWu6",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1708709660,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "something@static.com",
          "invoice_prefix": "3F5D8692",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Durgan Group 3's' Company | Durgan Group 3",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 23 Feb 2024 17:34:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_PcHCxkPlvJvWu6
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cdf49cd5-3b2f-4457-ab62-7b112d8aa12d
      Original-Request:
      - req_x7Cq7qHwQDuY9G
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1On2dcBLjyMcgacQeGBXRlex",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2025,
            "fingerprint": "8ZN8Ng3zOCxNFUz0",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1708709660,
          "customer": "cus_PcHCxkPlvJvWu6",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 23 Feb 2024 17:34:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_PcHCxkPlvJvWu6&items[0][price]=price_1OdkCHBLjyMcgacQoXsoA2v0&default_payment_method=pm_1On2dcBLjyMcgacQeGBXRlex
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ac6ea895-7c06-458f-8d7b-c8cce5e67ee7
      Original-Request:
      - req_UNgeG6XRmGQdoS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1On2ddBLjyMcgacQxAtiYAJ4",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1708709661,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1708709661,
          "currency": "usd",
          "current_period_end": 1711215261,
          "current_period_start": 1708709661,
          "customer": "cus_PcHCxkPlvJvWu6",
          "days_until_due": null,
          "default_payment_method": "pm_1On2dcBLjyMcgacQeGBXRlex",
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_PcHCpxJQ1wUg8o",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1708709661,
                "metadata": {},
                "plan": {
                  "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1706493821,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PSfXu5KouT6GdC",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1706493821,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PSfXu5KouT6GdC",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1On2ddBLjyMcgacQxAtiYAJ4",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1On2ddBLjyMcgacQxAtiYAJ4"
          },
          "latest_invoice": "in_1On2ddBLjyMcgacQsfE69Pzs",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1706493821,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_PSfXu5KouT6GdC",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1708709661,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Fri, 23 Feb 2024 17:34:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?customer=cus_PcHCxkPlvJvWu6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_1On2ddBLjyMcgacQxAtiYAJ4
    body:
      encoding: UTF-8
      string: items[0][id]=si_PcHCpxJQ1wUg8o&items[0][quantity]=2
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idemp[...]
