---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=McDermott-Rodriguez+18+%7C+Pres.+Maureen+Leffler+17&email=something%40static.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2610cd09-0564-4aa4-b6ca-15c832081825
      Original-Request:
      - req_c3tlDqTjKqrZC3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PcOevWFuM5NeHF",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1708737425,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "something@static.com",
          "invoice_prefix": "957005FB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "McDermott-Rodriguez 18 | Pres. Maureen Leffler 17",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 24 Feb 2024 01:17:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_PcOevWFuM5NeHF&items[0][price]=price_1OdkCHBLjyMcgacQoXsoA2v0&items[0][quantity]=1&trial_period_days=30&trial_settings[end_behavior][missing_payment_method]=cancel
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 37927cd4-4ca2-4133-b558-b17be2278890
      Original-Request:
      - req_173gk15sydYNkH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1On9rRBLjyMcgacQFuy9mmn6",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1711329425,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1708737425,
          "currency": "usd",
          "current_period_end": 1711329425,
          "current_period_start": 1708737425,
          "customer": "cus_PcOevWFuM5NeHF",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_PcOe5jswpcflOs",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1708737426,
                "metadata": {},
                "plan": {
                  "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1706493821,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PSfXu5KouT6GdC",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1706493821,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PSfXu5KouT6GdC",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1On9rRBLjyMcgacQFuy9mmn6",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1On9rRBLjyMcgacQFuy9mmn6"
          },
          "latest_invoice": "in_1On9rRBLjyMcgacQDQoBsXov",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": "seti_1On9rSBLjyMcgacQiKBqz0Ia",
          "pending_update": null,
          "plan": {
            "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1706493821,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_PSfXu5KouT6GdC",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1708737425,
          "status": "trialing",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": 1711329425,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "cancel"
            }
          },
          "trial_start": 1708737425
        }
  recorded_at: Sat, 24 Feb 2024 01:17:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_PcOevWFuM5NeHF
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '08ef66eb-6a24-4b1e-9711-1e7ecd4e28e4'
      Original-Request:
      - req_TZ9sIRI2l5HXqw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1On9rSBLjyMcgacQdGn2ozDB",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2025,
            "fingerprint": "8ZN8Ng3zOCxNFUz0",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1708737426,
          "customer": "cus_PcOevWFuM5NeHF",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sat, 24 Feb 2024 01:17:07 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?customer=cus_PcOevWFuM5NeHF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_1On9rTBLjyMcgacQWDamRmyq
    body:
      encoding: UTF-8
      string: items[0][id]=si_PcOeNYFSR11kR6&items[0][quantity]=2
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idemp[...]
[...]
