<div class="table-row flex">
  <div class="table-cell text-left lg:w-52 md:w-40 w-24">
    <%= @project.name %>
  </div>
  <div class="table-cell text-left flex-1">
    <%= render(StaffPlan::WorkWeeksComponent.new(assignment: @assignment, beginning_of_week: @beginning_of_week)) %>
  </div>
</div>