<tr
  class="flex sm:justify-normal justify-between bg-white-300 hover:bg-hoverGrey pl-5"
>
  <td
    class="pl-3 sm:px-0 py-1 sm:pt-1 sm:pb-2 font-normal align-top pt-5 w-1/2 sm:w-2/5"
  >
    <div class="flex sm:flex-row flex-col w-full justify-between items-start">
      <div
        class="sm:max-w-[70px] md:max-w-[110px] lg:max-w-[130px] w-full pl-0 sm:pl-[2px] sm:mr-1 md:mr-0 mb-1"
      >
        <div
          class="text-contrastBlue sm:flex hidden items-center justify-start sm:pt-2 pl-0 text-start transform -translate-x-0.5 cursor-pointer"
        >
          <%= client_name %>
        </div>
        <div class="sm:hidden flex items-center relative"><span><%= client_name %></span></div>
      </div>
      <div class="flex justify-between sm:max-w-[280px] w-full">
        <div class="flex items-start pt-2 relative">
          <div class="w-8"></div>
        </div>
        <div
          class="w-full sm:max-w-[205px] w-full md:pl-1 lg:pl-2 sm:mr-0 mr-2 flex items-start mb-4 sm:mb-0"
        >
          <div>
            <button
              class="pt-0 sm:pt-2 font-bold flex items-center justify-start text-contrastBlue text-start cursor-pointer"
            >
              <%= assignment.name %>
            </button>
          </div>
          <div
            class="relative inline-block text-left z-15"
            data-headlessui-state=""
          >
            <button
              class="cursor-pointer flex items-center text-2xl actionbar-text-accent hover:text-gray-900 rounded-full ellipsismenu focus:outline-none undefined ml-2 -mt-[5px] sm:mt-[3px]"
              id="headlessui-menu-button-«r2»"
              type="button"
              aria-haspopup="menu"
              aria-expanded="false"
              data-headlessui-state=""
            ></button>
          </div>
        </div>
        <div
          class="text-contrastBlue sm:flex hidden pr-2 sm:pr-1 md:pr-2 flex-col items-end max-w-[55px] w-full"
        >
          <button class="pt-2 underline cursor-pointer">Plan</button>
          <div class="pt-5">Actual</div>
        </div>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-35-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
      <div class="relative my-1 pt-2">
        <input
          id="actHours-21-35-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="actualHours"
          /><button
        type="button"
        class="hidden absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal bg-selectedColumnBg">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-bold pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-36-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
      <div class="relative my-1 pt-2">
        <input
          id="actHours-21-36-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="actualHours"
          /><button
        type="button"
        class="hidden absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-37-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-38-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-39-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-40-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-41-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-42-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-43-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-44-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-45-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-46-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-47-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-48-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-49-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-50-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-51-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-52-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-53-2025"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-2-2026"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-3-2026"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-4-2026"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-5-2026"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-6-2026"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-7-2026"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-8-2026"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="relative px-1 py-1 font-normal">
    <div
      class="flex flex-col sm:justify-normal justify-center h-full sm:space-y-3 font-normal pt-5 sm:pt-0"
    >
      <div class="relative my-1 sm:block hidden">
        <input
          id="estHours-21-9-2026"
          class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] focus:border-tiffany focus:ring-1 focus:ring-tiffany border-none outlined-none mb-0 px-0 py-0"
          autocomplete="off"
          value=""
          name="estimatedHours"
          /><button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
      </div>
    </div>
  </td>
  <td class="font-normal py-2 sm:pl-4 pl-0 pr-0 ml-1 sm:ml-0 w-1/2 sm:w-1/6">
    <div
      class="pl-6 sm:flex hidden flex-col max-w-fit space-y-5 cursor-pointer"
    >
      <div
        class="sm:flex justify-between space-x-1 cursor-pointer relative pt-1"
      >
        <label
          class="cursor-pointer text-sm leading-[18px] whitespace-nowrap text-right flex-shrink-0 min-w-10"
        >Plan</label
        ><span class="font-bold text-sm text-right min-w-20"
      >51<span class="text-sm font-normal pl-1">hrs</span></span
      >
      </div>
      <div
        class="sm:flex justify-between space-x-1 cursor-pointer relative mt-[-7px]"
      >
        <label
          class="cursor-pointer text-sm leading-[18px] whitespace-nowrap text-right flex-shrink-0 min-w-10"
        >Actual</label
        ><span class="font-bold text-sm text-right min-w-20"
      >51<span class="text-sm font-normal pl-1">hrs</span></span
      >
      </div>
    </div>
  </td>
</tr>
