<div class="table-row-group border-b-2 border-indigo-200">
  <div class="table-row flex">
    <div class="table-cell bg-green-50">
      <%= @client.name %>
    </div>
    <div class="bg-green-50 flex-1">
      &nbsp;
    </div>
  </div>
  <% @query.projects_for(client: @client).each do |project| %>
    <%= render(StaffPlan::AssignmentComponent.new(
      assignment: @query.assignment_for(project:),
      work_weeks: @query.work_weeks_for(project:),
      beginning_of_week: @query.beginning_of_week))
    %>
  <% end %>
</div>