<div class="table-header-group">
  <div class="table-row flex">
    <div class="table-cell text-left lg:w-52 md:w-40 w-24">
      <!-- this space intentionally left blank -->
    </div>
    <div class="table-cell text-center text-sm flex-1">
      <div class="flex work-weeks">
        <% 16.times do |count| %>
          <div class="flex-1 work-week">
            <%= Time.at(date_plus_count(count)).to_date.strftime("%e.%b") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>