<td class="<%= td_classes %>">
  <div
    class="<%= div_classes %>"
  >
    <div class="relative my-1 sm:block hidden" 
         data-controller="input-focus-arrow"
         data-input-focus-arrow-fill-forward-value="true">
      <input
        class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] border-none outlined-none mb-0 px-0 py-0"
        autocomplete="off"
        value="<%= estimated_hours_display %>"
        name="estimatedHours"
        data-input-focus-arrow-target="input"
        data-action="focus->input-focus-arrow#handleFocus blur->input-focus-arrow#handleBlur"
        /><button
      type="button"
      class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
      data-input-focus-arrow-target="arrow"
      data-action="click->input-focus-arrow#arrowClick"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
        data-slot="icon"
        class="w-6 text-white"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
        ></path>
      </svg>
    </button>
    </div>
    <% if show_actual_input? %>
    <div class="relative my-1 pt-2"
         data-controller="input-focus-arrow"
         data-input-focus-arrow-fill-forward-value="true">
      <input
        id="actHours-21-36-2025"
        class="bg-white shadow-top-input-shadow text-center sm:text-base text-2xl rounded-sm sm:w-[34px] w-[68px] sm:h-[25px] h-[50px] border-none outlined-none mb-0 px-0 py-0"
        autocomplete="off"
        value="<%= actual_hours_display %>"
        name="actualHours"
        data-input-focus-arrow-target="input"
        data-action="focus->input-focus-arrow#handleFocus blur->input-focus-arrow#handleBlur"
        />
      <button
        type="button"
        class="sm:flex absolute left-0 top-full h-[12px] sm:w-[34px] w-[68px] border-2 flex items-center justify-center bg-transparent border-transparent rounded-b-sm opacity-0 pointer-events-none transition-opacity duration-200"
        data-input-focus-arrow-target="arrow"
        data-action="click->input-focus-arrow#arrowClick"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="w-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
          ></path>
        </svg>
      </button>
    </div>
    <% end %>
  </div>
</td>
