---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Grady%2C+O%27Connell+and+Bednar+30+%7C+Benny+Gottlieb+30&email=something%40static.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b354660f-7a13-40ee-a75d-d3ab18320226
      Original-Request:
      - req_V5sl3vgOz9MXt3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QPKMI8JVBWLQ4z",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1720022808,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "something@static.com",
          "invoice_prefix": "C5019492",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Grady, O'Connell and Bednar 30 | Benny Gottlieb 30",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 03 Jul 2024 16:06:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_QPKMI8JVBWLQ4z&items[0][price]=price_1Oo7tQBLjyMcgacQSNLewS9y&items[0][quantity]=1&trial_period_days=30&trial_settings[end_behavior][missing_payment_method]=cancel&payment_settings[save_default_payment_method]=on_subscription
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1d591d72-bb8e-4f52-909e-c22b45ea7f7e
      Original-Request:
      - req_6vQlRBTHXLVqfL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1PYVhkBLjyMcgacQSUBEWW6t",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1722614808,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1720022808,
          "currency": "usd",
          "current_period_end": 1722614808,
          "current_period_start": 1720022808,
          "customer": "cus_QPKMI8JVBWLQ4z",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_QPKM71gEm9rAYd",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1720022809,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1PYVhkBLjyMcgacQSUBEWW6t",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1PYVhkBLjyMcgacQSUBEWW6t"
          },
          "latest_invoice": "in_1PYVhkBLjyMcgacQnIWamnab",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "on_subscription"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": "seti_1PYVhkBLjyMcgacQDavpJPkp",
          "pending_update": null,
          "plan": {
            "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1708968188,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_PdOgBPQqj1Ri1R",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1720022808,
          "status": "trialing",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": 1722614808,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "cancel"
            }
          },
          "trial_start": 1720022808
        }
  recorded_at: Wed, 03 Jul 2024 16:06:49 GMT
recorded_with: VCR 6.2.0
