---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Christin+Leannon%27s%27+Company+%7C+Christin+Leannon&email=evan_reinger%40bednar.example
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a92a41c7-06d2-4283-b264-5ef0f6e15a4b
      Original-Request:
      - req_YeMSfuaLiWocbR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PNhAwMKzbbg5iw",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1705346667,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "evan_reinger@bednar.example",
          "invoice_prefix": "BC6448DD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Christin Leannon's' Company | Christin Leannon",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 15 Jan 2024 19:24:27 GMT
recorded_with: VCR 6.2.0
