#staffplans.index {
  .gravatar {
    width: 32px;
    border-radius: 3px;
    vertical-align: middle;
  }
}

ul#staffplan-index li {
  @include flexible-list;
}

aggregate-work-week {
  @include aligned-list-item;
}
