@import "staffplans/mixins";

#staffplans.index {
  .gravatar {
    width: 32px;
    border-radius: 3px;
    vertical-align: middle;
  }

  .assignment-totals {
    min-width: em(100);
    @include flex(1);
  }

  .fixed-header {
    @include fixed-header;
  }

  .user-list {
    padding-top: em(100);
  }

  .list-header {
    background-color: #f7f7f7;
    @include box-shadow(0 0 6px 3px #444);
  }

  .user-info {

    a {
      line-height: em(80);
    }
  }
}
