@import "staffplans/mixins";

.list-header {
  @include flexible-list;
  border: 1px solid #e0e0e0;
  font-size: em(14);
}

.single-flexible-column {
  min-width: em(180);
  @include flex(1);

  &.wide {
    min-width: em(300);
    // @include flex(3);
  }
}

ul.flexible-list li.box {
  @include flexible-list;
  font-size: em(14);

  * > {
    display: inline-block;
  }
}

aggregate-work-week {
  @include aligned-list-item;
  height: 90px;
  padding-top: 5px;
  position: relative;
}

.width-filling-container {
  @include fill-parent;
  @include flex(20);
  overflow: hidden;
}

date-range-column-header {
  @include aligned-list-item;
  vertical-align: top;

  & > div {
    min-height: 20px;
  }
}

.aggregate-work-week {
  @include fancy-aggregate-work-week;
}

assignment-work-week {
  @include aligned-list-item;

  height: 100px;
  vertical-align: top;

  input {
    width: 35px;
    text-align: center;
    height: 25px;
    font-size: em(14px);
  }
}

.display-none {
  display: none;
}
