@mixin flexible-list {
  @include display(flex);
  @include align-items(stretch);
}

@mixin aligned-list-item {
  display: inline-block;
  width: 40px;
  text-align: center;
}

@mixin self-and-children-inline-block {
  display: inline-block;

  & > * {
    display: inline-block;
  }
}
