@import "staffplans/mixins";

#staffplans.show {
  .gravatar {
    width: 75px;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 5px;
  }

  /* fixed header styles are page specific. every page is a little different */
  .fixed-header {
    @include fixed-header;
  }

  .assignment-list {
    padding-top: em(190);
  }

  .aggregate-chart {
    background-color: #28292a;
    color: #98989b;
    min-height: 90px;
  }

  .list-header {
    background-color: #f7f7f7;
  }

  .user-info {
    width: 180px;
    line-height: 90px;
    height: 90px;
  }

  .project-name, .client-name {
    width: em(140);
    display: inline-block;
  }
}
