<div class='work-week-list-item'>
  <div data-bind="text: data.work_week.estimated" class="column-total"></div>
  <!-- proposed -->
  <div data-bind="attr: {style: proposedHeight()}" class="proposed work-week"></div>
  <!-- planned -->
  <div data-bind="attr: {style: plannedHeight()}" class="planned work-week"></div>
</div>
