<div class='work-week-list-item' data-bind="attr: {cweek: data.work_week.cweek, year: data.work_week.year}">
  <div data-bind="text: actualHours()" class="column-total"></div>
  <div data-bind="text: estimatedHours()" class="actual work-week"></div>
</div>
