- content_for(:javascript) do
  :javascript
    $(function() {
      ko.applyBindings(new StaffPlanIndex())
    });

- content_for(:fixed_header_section) do
  .list-header
    .single-flexible-column
      %a{href: '#', data: {bind: "click: sortByName"}} Name
      %a{href: '#', data: {bind: "click: sortByWorkload"}} Workload
      %a{data: {bind: "attr: { href: nextPreviousWeeks().previous}"}} Previous

    .date-range-columns.width-filling-container{data: {bind: "foreach: weekRange"}}
      %date-range-column-header{params: "week: $data"}

    .assignment-totals
      %a{data: {bind: "attr: { href: nextPreviousWeeks().next}"}} Next

%ul.user-list.flexible-list{data: {bind: "foreach: users"}}
  %li.user.box{data: {bind: "component: {name: 'index-aggregate-chart', params: {user: $data, weekRange: $parent.weekRange, usersData: $parent.usersData}}"}}

%script{type: "application/json", id: "users"}
  = ActiveModel::ArraySerializer.new(@users).to_json.html_safe
