- content_for(:javascript) do
  :javascript
    $(function() {
      ko.applyBindings(new StaffPlanIndex())
    });

%ul#staffplan-index{data: {bind: "foreach: users"}}
  %staffplans-list-item{params: "user: $data, weekRange: $parent.weekRange"}

%script{type: "application/json", id: "users"}
  = ActiveModel::ArraySerializer.new(@users, each_serializer: StaffplanListSerializer).to_json.html_safe
