- content_for(:javascript) do
  :javascript
    $(function() {
      window.viewModel = new StaffPlanView()
      ko.applyBindings(viewModel)
    });

- content_for(:fixed_header_section) do
  %ul.flexible-list.aggregate-chart
    %li.user.box{data: {bind: 'component: {name: "user-aggregate-chart", params: {user: userData, weekRange: weekRange, showAssignmentTotals: false, wide: true}}'}}}

  .list-header
    .single-flexible-column.wide
      %a{data: {bind: "attr: { href: nextPreviousWeeks().previous}"}} Previous
      .show-archived
        %input{id: "showArchived", type: "checkbox", data: {bind: "checked: showArchived"}}
        %label{for: "showArchived"} show archived
      %div
        .client-name
          Client
          %a{href: "#", data: {bind: "click: addClientSection"}} add
        .project-name Project

    .date-range-columns.width-filling-container{data: {bind: "foreach: weekRange"}}
      %date-range-column-header{params: "week: $data"}

    .assignment-totals
      %a{data: {bind: "attr: { href: nextPreviousWeeks().next}"}} Next

%ul.client-list.flexible-list{data: {bind: "foreach: clients"}}
  %li.client{data: {bind: 'component: {name: "client-list-item", params: {client: $data, weekRange: $parent.weekRange, showArchived: $parent.showArchived}}'}}

%script{type: "application/json", id: "assignments"}
  = ActiveModel::ArraySerializer.new(@user_projects, each_serializer: UserProjectsViewSerializer).to_json.html_safe

%script{type: "application/json", id: "user"}
  = StaffplanListSerializer.new(@user).to_json.html_safe
