- content_for(:javascript) do
  :javascript
    $(function() {
      ko.applyBindings(new StaffPlanShow())
    });

- content_for(:fixed_header_section) do
  %ul.flexible-list.aggregate-chart
    %li.user{data: {bind: 'component: {name: "user-aggregate-chart", params: {user: userData, weekRange: weekRange, showAssignmentTotals: false, wide: true}}'}}}

  .list-header
    .single-flexible-column.wide
      %a{data: {bind: "attr: { href: nextPreviousWeeks().previous}"}} Previous

    .date-range-columns.width-filling-container{data: {bind: "foreach: weekRange"}}
      %date-range-column-header{params: "week: $data"}

    .assignment-totals
      %a{data: {bind: "attr: { href: nextPreviousWeeks().next}"}} Next

%ul.assignment-list.flexible-list{data: {bind: "foreach: assignments"}}
  %li.assignment{data: {bind: 'component: {name: "assignment-list-item", params: {assignment: $data, weekRange: $parent.weekRange}}'}}

%script{type: "application/json", id: "assignments"}
  = ActiveModel::ArraySerializer.new(@user_projects, each_serializer: UserProjectsViewSerializer).to_json.html_safe

%script{type: "application/json", id: "user"}
  = StaffplanListSerializer.new(@user).to_json.html_safe
