- content_for(:javascript) do
  :javascript
    $(function() {
      ko.applyBindings(new StaffPlanShow())
    });

- content_for(:fixed_header_section) do
  %ul#staffplan-bar-graph
    %staffplans-list-item{params: "user: userData, weekRange: weekRange"}

  .list-header
    .list-controls
      %a{data: {bind: "attr: { href: nextPreviousWeeks().previous}"}} Previous

    .date-range-columns{data: {bind: "foreach: weekRange"}}
      %date-range-column-header{params: "week: $data"}

    .assignment-totals
      %a{data: {bind: "attr: { href: nextPreviousWeeks().next}"}} Next

%ul#staffplan-show{data: {bind: "foreach: assignments"}}
  %assignments-list-item{params: "assignment: $data, weekRange: $parent.weekRange"}

%script{type: "application/json", id: "assignments"}
  = ActiveModel::ArraySerializer.new(@user_projects, each_serializer: UserProjectsViewSerializer).to_json.html_safe

%script{type: "application/json", id: "user"}
  = StaffplanListSerializer.new(@user).to_json.html_safe
