.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

.flash-container {
  width: 100%;
  z-index: 99999;
  height: 4.3em;
  position: fixed;
  bottom: 0;

  a.close {
    float: left;
    padding-right: 20px;
  }
}
