---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Kris+Heaney%27s%27+Company+%7C+Kris+Heaney&email=lorene_reynolds%40fritsch.example
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7035f90b-9c0d-4596-abf8-ddf5c4c8a448
      Original-Request:
      - req_9RDJ7SoPbUQkfl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PNh6gKpbbrYx4O",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1705346433,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "lorene_reynolds@fritsch.example",
          "invoice_prefix": "18681B40",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Kris Heaney's' Company | Kris Heaney",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 15 Jan 2024 19:20:33 GMT
recorded_with: VCR 6.2.0
