---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Linette+Murray%27s%27+Company+%7C+Linette+Murray&email=mohammad.wolf%40morar.example
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3359abd1-0edf-461b-8efa-3f15658e63af
      Original-Request:
      - req_SEu7xXLeTXvHIn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PNh6YrSmZWoqp4",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1705346430,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "mohammad.wolf@morar.example",
          "invoice_prefix": "7FCF1AE1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Linette Murray's' Company | Linette Murray",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 15 Jan 2024 19:20:30 GMT
recorded_with: VCR 6.2.0
