%h1 Invitations

%table
  %tr
    %th Company
    %th Respond

  - @invites.each do |invite|
    - if invite.aasm.current_state == :new
      %tr
        %td= invite.company.name
        %td= link_to "Accept", accept_invite_path(invite), method: :put
        %td= link_to "Decline", decline_invite_path(invite), method: :put, data: {confirm: "Are you sure?" }
