---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Bartell+Inc+1+%7C+Static+Name&email=static%40email.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Idempotency-Key:
      - fade3300-2c4d-430b-ac33-e7a1cce787bb
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fade3300-2c4d-430b-ac33-e7a1cce787bb
      Original-Request:
      - req_SRLExekOZUdc0j
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOhE7rOCF2l1Td",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791375670,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "static@email.com",
          "invoice_prefix": "F2VOTQ4T",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Bartell Inc 1 | Static Name",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 07 Oct 2026 12:21:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_VOhE7rOCF2l1Td&items[0][price]=price_1Oo7tQBLjyMcgacQSNLewS9y&items[0][quantity]=1&trial_period_days=30&trial_settings[end_behavior][missing_payment_method]=cancel&payment_settings[save_default_payment_method]=on_subscription
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Idempotency-Key:
      - 492fd3fe-5e84-4125-a569-0cd48c603707
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 492fd3fe-5e84-4125-a569-0cd48c603707
      Original-Request:
      - req_0LmvKI1egoDBRm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1UNtqMBLjyMcgacQ4wSII9gN",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1793967670,
          "billing_cycle_anchor_config": null,
          "billing_mode": {
            "flexible": {
              "proration_discounts": "included"
            },
            "type": "flexible",
            "updated_at": 1791375670
          },
          "billing_schedules": [],
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "feedback_option": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1791375670,
          "currency": "usd",
          "customer": "cus_VOhE7rOCF2l1Td",
          "customer_account": null,
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "custom_fields": null,
            "description": null,
            "footer": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_VOhEqpjc08XeU8",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1791375671,
                "current_period_end": 1793967670,
                "current_period_start": 1791375670,
                "current_trial": null,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "plan",
                  "active": true,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "recurring": {
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1UNtqMBLjyMcgacQ4wSII9gN",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1UNtqMBLjyMcgacQ4wSII9gN"
          },
          "latest_invoice": "in_1UNtqMBLjyMcgacQ122tV0ea",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "on_subscription"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": "seti_1UNtqNBLjyMcgacQZq0xAgMG",
          "pending_update": null,
          "plan": {
            "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
            "object": "plan",
            "active": true,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1708968188,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_PdOgBPQqj1Ri1R",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1791375670,
          "status": "trialing",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": 1793967670,
          "trial_settings": {
            "end_behavior": {
              "billing_cycle_anchor": "now",
              "missing_payment_method": "cancel"
            }
          },
          "trial_start": 1791375670
        }
  recorded_at: Wed, 07 Oct 2026 12:21:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_VOhE7rOCF2l1Td&return_url=http%3A%2F%2Flocalhost%3A3000%2Fsettings%2Fbilling_information&flow_data[type]=payment_method_update
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Idempotency-Key:
      - 9b09c553-402c-4d51-9036-b3b7619589c0
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9b09c553-402c-4d51-9036-b3b7619589c0
      Original-Request:
      - req_BtfXVL2oL6vCvh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_1UNtqNBLjyMcgacQDQarMaGj",
          "object": "billing_portal.session",
          "configuration": "bpc_1Oo8I7BLjyMcgacQj84NQ0Ru",
          "created": 1791375671,
          "customer": "cus_VOhE7rOCF2l1Td",
          "customer_account": null,
          "flow": {
            "after_completion": {
              "hosted_confirmation": {
                "custom_message": null
              },
              "redirect": null,
              "type": "hosted_confirmation"
            },
            "customer_update": null,
            "subscription_cancel": null,
            "subscription_update": null,
            "subscription_update_confirm": null,
            "type": "payment_method_update"
          },
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://localhost:3000/settings/billing_information",
          "url": "https://billing.stripe.com/p/session/flow?secret=test_YWNjdF8xT1NocGhCTGp5TWNnYWNRLF9WT2hFSHZCbGVJWHh3TDhTY2NKcVhJWTQ1Z0U2Sjh20100hUmnNQXG"
        }
  recorded_at: Wed, 07 Oct 2026 12:21:11 GMT
recorded_with: VCR 6.4.0
