---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Greenfelder-Kozey+33+%7C+Static+Name&email=static%40email.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e734748e-bf98-4dd1-85e0-26a276465c35
      Original-Request:
      - req_i2g0F54zWS9qqT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_QPKMGwpnPeGzVZ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1720022821,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "static@email.com",
          "invoice_prefix": "850AF300",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Greenfelder-Kozey 33 | Static Name",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 03 Jul 2024 16:07:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_QPKMGwpnPeGzVZ&items[0][price]=price_1Oo7tQBLjyMcgacQSNLewS9y&items[0][quantity]=1&trial_period_days=30&trial_settings[end_behavior][missing_payment_method]=cancel&payment_settings[save_default_payment_method]=on_subscription
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4e099c21-151b-44f6-95ea-8dc0a6bb2f1a
      Original-Request:
      - req_xkDO3dEPNNklV2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1PYVhxBLjyMcgacQctMhg7oE",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1722614821,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1720022821,
          "currency": "usd",
          "current_period_end": 1722614821,
          "current_period_start": 1720022821,
          "customer": "cus_QPKMGwpnPeGzVZ",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_QPKMBVTEbCKtV2",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1720022822,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1PYVhxBLjyMcgacQctMhg7oE",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1PYVhxBLjyMcgacQctMhg7oE"
          },
          "latest_invoice": "in_1PYVhxBLjyMcgacQk30d5x5S",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "on_subscription"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": "seti_1PYVhyBLjyMcgacQU1OqPbmP",
          "pending_update": null,
          "plan": {
            "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1708968188,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_PdOgBPQqj1Ri1R",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1720022821,
          "status": "trialing",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": 1722614821,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "cancel"
            }
          },
          "trial_start": 1720022821
        }
  recorded_at: Wed, 03 Jul 2024 16:07:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_QPKMGwpnPeGzVZ&return_url=http%3A%2F%2Flocalhost%3A3000%2Fsettings%2Fbilling_information&flow_data[type]=payment_method_update
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fe1cfd00-1d1c-4614-a6cb-cd85071ef3e8
      Original-Request:
      - req_e8RFEoly00zApk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_1PYVhzBLjyMcgacQ5GEQZe5l",
          "object": "billing_portal.session",
          "configuration": "bpc_1Oo8I7BLjyMcgacQj84NQ0Ru",
          "created": 1720022823,
          "customer": "cus_QPKMGwpnPeGzVZ",
          "flow": {
            "after_completion": {
              "hosted_confirmation": {
                "custom_message": null
              },
              "redirect": null,
              "type": "hosted_confirmation"
            },
            "subscription_cancel": null,
            "subscription_update": null,
            "subscription_update_confirm": null,
            "type": "payment_method_update"
          },
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://localhost:3000/settings/billing_information",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8xT1NocGhCTGp5TWNnYWNRLF9RUEtNd2tqZjRQV055Qlp5REMyM3lZMW5Tam54d0Y30100bYvu8ohA/flow"
        }
  recorded_at: Wed, 03 Jul 2024 16:07:03 GMT
recorded_with: VCR 6.2.0
