<div class='assignments-list-work-week'>
  <input class="planned" type="text" data-bind="attr: {value: work_week.estimated()}" />
  <!-- ko ifnot: isFutureWorkWeek() -->
    <input class="actual" type="text" data-bind="attr: {value: work_week.actual()}" />
  <!-- /ko -->
</div>
