---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Russel-Mills+3+%7C+Marcelene+Bergstrom+3&email=something%40static.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Idempotency-Key:
      - 6cde89e0-f3db-451a-8aea-996371735bf9
      Stripe-Version:
      - 2024-12-18.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6cde89e0-f3db-451a-8aea-996371735bf9
      Original-Request:
      - req_yyVnzLPMR1I0td
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-12-18.acacia
      X-Wc:
      - ABC
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RcgxKZY6tQWFI3",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1737404876,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "something@static.com",
          "invoice_prefix": "1293A34C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Russel-Mills 3 | Marcelene Bergstrom 3",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 20 Jan 2025 20:27:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_RcgxKZY6tQWFI3&items[0][price]=price_1Oo7tQBLjyMcgacQSNLewS9y&items[0][quantity]=1&trial_period_days=30&trial_settings[end_behavior][missing_payment_method]=cancel&payment_settings[save_default_payment_method]=on_subscription
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Idempotency-Key:
      - afa9918d-5925-4c94-9507-3e364de9a08d
      Stripe-Version:
      - 2024-12-18.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - afa9918d-5925-4c94-9507-3e364de9a08d
      Original-Request:
      - req_bSlzxL341Fsb8Z
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-12-18.acacia
      X-Wc:
      - ABC
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1QjRZhBLjyMcgacQDv4ne0rp",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1739996877,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1737404877,
          "currency": "usd",
          "current_period_end": 1739996877,
          "current_period_start": 1737404877,
          "customer": "cus_RcgxKZY6tQWFI3",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_RcgxTrCYSilQq2",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1737404877,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1QjRZhBLjyMcgacQDv4ne0rp",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1QjRZhBLjyMcgacQDv4ne0rp"
          },
          "latest_invoice": "in_1QjRZhBLjyMcgacQVKLCpXfd",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "on_subscription"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": "seti_1QjRZhBLjyMcgacQlpAbg89j",
          "pending_update": null,
          "plan": {
            "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1708968188,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_PdOgBPQqj1Ri1R",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1737404877,
          "status": "trialing",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": 1739996877,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "cancel"
            }
          },
          "trial_start": 1737404877
        }
  recorded_at: Mon, 20 Jan 2025 20:27:57 GMT
recorded_with: VCR 6.3.1
