<div class="border-b border-gray-200 pb-5">
  <%= link_to settings_users_path, class: "ml-3 inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>
    <span class="ml-2 pr-2">Back</span>
  <% end %>
</div>

<div class="bg-white p-4 mt-4">
  <%= turbo_frame_tag "users_new", target: "_top" do %>
    <%= render(partial: "settings/users/new") %>
  <% end %>
</div>
