---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Crysta+Gutmann%27s%27+Company+%7C+Crysta+Gutmann&email=otto%40reilly.example
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8c121405-fd88-4c63-b560-ba0c50e75c9e
      Original-Request:
      - req_nMkjrJD9TZ3SKe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PNhAWIvSSdYjVj",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1705346697,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "otto@reilly.example",
          "invoice_prefix": "E3C04100",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Crysta Gutmann's' Company | Crysta Gutmann",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 15 Jan 2024 19:24:57 GMT
recorded_with: VCR 6.2.0
