---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Wisoky+LLC+25%27s%27+Company+%7C+Wisoky+LLC+25&email=22darron%40lesch.test
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 194b4bd5-5976-4f22-b81a-5831a1ab9642
      Original-Request:
      - req_CNF8lkZpaOV3qh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PSZPmg7YPg1iaP",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1706471004,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "22darron@lesch.test",
          "invoice_prefix": "4F18FFF7",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Wisoky LLC 25's' Company | Wisoky LLC 25",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 28 Jan 2024 19:43:24 GMT
recorded_with: VCR 6.2.0
