---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Bergstrom%2C+Zieme+and+Hilll+27%27s%27+Company+%7C+Bergstrom%2C+Zieme+and+Hilll+27&email=24ling%40leuschke-koss.test
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 55e0939e-bb54-4f94-b0ec-3a85d4dd85b3
      Original-Request:
      - req_abELYxW311DPY4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PcHCOARkfFug8l",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1708709676,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "24ling@leuschke-koss.test",
          "invoice_prefix": "7951F12C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Bergstrom, Zieme and Hilll 27's' Company | Bergstrom, Zieme and Hilll 27",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 23 Feb 2024 17:34:37 GMT
recorded_with: VCR 6.2.0
