---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Jakubowski-Kshlerin+26%27s%27+Company+%7C+Jakubowski-Kshlerin+26&email=23tawanda.bradtke%40rau.test
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0dc8c186-e764-402f-9a5f-eef31cec6710
      Original-Request:
      - req_zMvhyTohPQozwU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PcHCqluRH9mdcT",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1708709676,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "23tawanda.bradtke@rau.test",
          "invoice_prefix": "F06418C0",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Jakubowski-Kshlerin 26's' Company | Jakubowski-Kshlerin 26",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 23 Feb 2024 17:34:36 GMT
recorded_with: VCR 6.2.0
