---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Becker%2C+Block+and+Flatley+26%27s%27+Company+%7C+Becker%2C+Block+and+Flatley+26&email=23alanna%40oconner.test
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d1ae89f8-9884-4043-a845-3283d0773c91
      Original-Request:
      - req_BVuGl7PGo4g4jm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PSZPyICXUSCpNX",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1706471005,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "23alanna@oconner.test",
          "invoice_prefix": "01032A18",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Becker, Block and Flatley 26's' Company | Becker, Block and Flatley 26",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 28 Jan 2024 19:43:25 GMT
recorded_with: VCR 6.2.0
