---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Tromp+and+Sons+25%27s%27+Company+%7C+Tromp+and+Sons+25&email=22jon.hagenes%40graham-heller.test
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bae12258-7196-41f4-8e35-2edbbc9aa206
      Original-Request:
      - req_G1GNFJhsapfU8I
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PcHCeRfcdE42eU",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1708709676,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "22jon.hagenes@graham-heller.test",
          "invoice_prefix": "F73C148B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Tromp and Sons 25's' Company | Tromp and Sons 25",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 23 Feb 2024 17:34:36 GMT
recorded_with: VCR 6.2.0
