---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Weimann%2C+Robel+and+Leuschke+7+%7C+Leia+Huel+7&email=33dario%40bosco-kunze.example33
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Idempotency-Key:
      - 7ee9bf66-17e0-4ab2-90e3-919a3e9e5d84
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7ee9bf66-17e0-4ab2-90e3-919a3e9e5d84
      Original-Request:
      - req_ELe2mKo29a6vki
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VOhFGbWg3erC74",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1791375684,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "33dario@bosco-kunze.example33",
          "invoice_prefix": "5DNQ78OH",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Weimann, Robel and Leuschke 7 | Leia Huel 7",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 07 Oct 2026 12:21:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_VOhFGbWg3erC74&items[0][price]=price_1Oo7tQBLjyMcgacQSNLewS9y&items[0][quantity]=1&trial_period_days=30&trial_settings[end_behavior][missing_payment_method]=cancel&payment_settings[save_default_payment_method]=on_subscription
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Idempotency-Key:
      - c15178d5-984d-40b0-874e-962d2e583f3e
      Stripe-Version:
      - 2026-09-30.endive
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c15178d5-984d-40b0-874e-962d2e583f3e
      Original-Request:
      - req_qSNi3Z0eeH5Dds
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-09-30.endive
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1UNtqaBLjyMcgacQ92L2qydA",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1793967684,
          "billing_cycle_anchor_config": null,
          "billing_mode": {
            "flexible": {
              "proration_discounts": "included"
            },
            "type": "flexible",
            "updated_at": 1791375684
          },
          "billing_schedules": [],
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "feedback_option": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1791375684,
          "currency": "usd",
          "customer": "cus_VOhFGbWg3erC74",
          "customer_account": null,
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "custom_fields": null,
            "description": null,
            "footer": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_VOhF6IC37JDzn8",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1791375685,
                "current_period_end": 1793967684,
                "current_period_start": 1791375684,
                "current_trial": null,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "plan",
                  "active": true,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1708968188,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PdOgBPQqj1Ri1R",
                  "recurring": {
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1UNtqaBLjyMcgacQ92L2qydA",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1UNtqaBLjyMcgacQ92L2qydA"
          },
          "latest_invoice": "in_1UNtqaBLjyMcgacQ7IRR5PdZ",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "on_subscription"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": "seti_1UNtqbBLjyMcgacQB0HhQE50",
          "pending_update": null,
          "plan": {
            "id": "price_1Oo7tQBLjyMcgacQSNLewS9y",
            "object": "plan",
            "active": true,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1708968188,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_PdOgBPQqj1Ri1R",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1791375684,
          "status": "trialing",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": 1793967684,
          "trial_settings": {
            "end_behavior": {
              "billing_cycle_anchor": "now",
              "missing_payment_method": "cancel"
            }
          },
          "trial_start": 1791375684
        }
  recorded_at: Wed, 07 Oct 2026 12:21:25 GMT
recorded_with: VCR 6.4.0
