---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Static+Name%27s%27+Company+%7C+Static+Name&email=static%40email.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 49d65fbe-efbb-4a0f-8d44-f60d8bc47703
      Original-Request:
      - req_V3URA66vwsxf1F
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PcHCdF1h13EJCK",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1708709679,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "static@email.com",
          "invoice_prefix": "F3E8AFCB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Static Name's' Company | Static Name",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 23 Feb 2024 17:34:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices/price_1OdkCHBLjyMcgacQoXsoA2v0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1706493821,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_PSfXu5KouT6GdC",
          "recurring": {
            "aggregate_usage": null,
            "interval": "month",
            "interval_count": 1,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 300,
          "unit_amount_decimal": "300"
        }
  recorded_at: Fri, 23 Feb 2024 17:34:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=subscription&customer=cus_PcHCdF1h13EJCK&billing_address_collection=required&line_items[0][quantity]=1&line_items[0][price]=price_1OdkCHBLjyMcgacQoXsoA2v0&success_url=http%3A%2F%2Flocalhost%3A3000%2Fsettings%2Fbilling_information%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Fsettings%2Fbilling_information
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f30e43fd-4d64-43d6-afb8-adf8ebdfcb45
      Original-Request:
      - req_cvrDWxue24epiJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1nXONBsxTTGibTzdMUNwCK353TpDz0fymLtoSJbUsOXTeb3lVUTip9VPX",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 300,
          "amount_total": 300,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": "required",
          "cancel_url": "http://localhost:3000/settings/billing_information",
          "client_reference_id": null,
          "client_secret": null,
          "consent": null,
          "consent_collection": null,
          "created": 1708709679,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_PcHCdF1h13EJCK",
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "email": "static@email.com",
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": null,
          "expires_at": 1708796079,
          "invoice": null,
          "invoice_creation": null,
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "subscription",
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "always",
          "payment_method_configuration_details": null,
          "payment_method_options": {},
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/settings/billing_information?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a1nXONBsxTTGibTzdMUNwCK353TpDz0fymLtoSJbUsOXTeb3lVUTip9VPX#fid2cGd2ZndsdXFsamtQa2x0cGBrYHZ2QGtkZ2lgYSc%2FY2RpdmApJ2R1bE5gfCc%2FJ3VuWnFgdnFaMDRKVm11bUdJb3xIZmJkZlRAYDF8V3NhPWFzXFVzV3VPR0RsXHZfcTJXXEw9U0p8VDNgUE1%2FS0tRX3xTTDQyPGNtNUBzV01fV1FXUTE2bGBxd2Izc05Ka0E1NUltTDZtbDdzJyknY3dqaFZgd3Ngdyc%2FcXdwYCknaWR8anBxUXx1YCc%2FJ3Zsa2JpYFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl"
        }
  recorded_at: Fri, 23 Feb 2024 17:34:39 GMT
recorded_with: VCR 6.2.0
