---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Gerlach+LLC+17+%7C+Static+Name&email=static%40email.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4ad74e35-6c5a-4ca4-a590-5eba6a76e25c
      Original-Request:
      - req_aTSbsuBQJbRnCH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PcOeZieF0nnZ9t",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1708737422,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "static@email.com",
          "invoice_prefix": "1791BF3A",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Gerlach LLC 17 | Static Name",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 24 Feb 2024 01:17:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_PcOeZieF0nnZ9t&items[0][price]=price_1OdkCHBLjyMcgacQoXsoA2v0&items[0][quantity]=1&trial_period_days=30&trial_settings[end_behavior][missing_payment_method]=cancel
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 49156735-7497-4725-b7e7-4398635060a7
      Original-Request:
      - req_iCyMrxbmp0vynN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1On9rPBLjyMcgacQpuK1KIUv",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1711329423,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1708737423,
          "currency": "usd",
          "current_period_end": 1711329423,
          "current_period_start": 1708737423,
          "customer": "cus_PcOeZieF0nnZ9t",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_PcOeyF418Dawj4",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1708737423,
                "metadata": {},
                "plan": {
                  "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1706493821,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PSfXu5KouT6GdC",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1706493821,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PSfXu5KouT6GdC",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1On9rPBLjyMcgacQpuK1KIUv",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1On9rPBLjyMcgacQpuK1KIUv"
          },
          "latest_invoice": "in_1On9rPBLjyMcgacQFAmbOvFp",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": "seti_1On9rPBLjyMcgacQE1uzmFTa",
          "pending_update": null,
          "plan": {
            "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1706493821,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_PSfXu5KouT6GdC",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1708737423,
          "status": "trialing",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": 1711329423,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "cancel"
            }
          },
          "trial_start": 1708737423
        }
  recorded_at: Sat, 24 Feb 2024 01:17:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/prices/price_1OdkCHBLjyMcgacQoXsoA2v0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1706493821,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_PSfXu5KouT6GdC",
          "recurring": {
            "aggregate_usage": null,
            "interval": "month",
            "interval_count": 1,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 300,
          "unit_amount_decimal": "300"
        }
  recorded_at: Sat, 24 Feb 2024 01:17:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: mode=subscription&customer=cus_PcOeZieF0nnZ9t&billing_address_collection=required&line_items[0][quantity]=1&line_items[0][price]=price_1OdkCHBLjyMcgacQoXsoA2v0&success_url=http%3A%2F%2Flocalhost%3A3000%2Fsettings%2Fbilling_information%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Fsettings%2Fbilling_information
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - abbb892e-c08c-4b80-b4a9-1dbe0d019a1c
      Original-Request:
      - req_nt6qqdPpZ5emDt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1JwJUbG9lfPoEIbB4g4WuE1iWaV8s45wDoWtJ2tZLhWlULXKY38ixaurS",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 300,
          "amount_total": 300,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": "required",
          "cancel_url": "http://localhost:3000/settings/billing_information",
          "client_reference_id": null,
          "client_secret": null,
          "consent": null,
          "consent_collection": null,
          "created": 1708737424,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_PcOeZieF0nnZ9t",
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "email": "static@email.com",
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": null,
          "expires_at": 1708823824,
          "invoice": null,
          "invoice_creation": null,
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "subscription",
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "always",
          "payment_method_configuration_details": null,
          "payment_method_options": {},
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/settings/billing_information?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a1JwJUbG9lfPoEIbB4g4WuE1iWaV8s45wDoWtJ2tZLhWlULXKY38ixaurS#fid2cGd2ZndsdXFsamtQa2x0cGBrYHZ2QGtkZ2lgYSc%2FY2RpdmApJ2R1bE5gfCc%2FJ3VuWnFgdnFaMDRKVm11bUdJb3xIZmJkZlRAYDF8V3NhPWFzXFVzV3VPR0RsXHZfcTJXXEw9U0p8VDNgUE1%2FS0tRX3xTTDQyPGNtNUBzV01fV1FXUTE2bGBxd2Izc05Ka0E1NUltTDZtbDdzJyknY3dqaFZgd3Ngdyc%2FcXdwYCknaWR8anBxUXx1YCc%2FJ3Zsa2JpYFpscWBoJyknYGtkZ2lgVWlkZmBtamlhYHd2Jz9xd3BgeCUl"
        }
  recorded_at: Sat, 24 Feb 2024 01:17:04 GMT
recorded_with: VCR 6.2.0
