---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Hayes%2C+Miller+and+Herman+8+%7C+Static+Name&email=static%40email.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7ff4fb1b-1ac4-4775-b962-d43fe3524234
      Original-Request:
      - req_fH7Rb47DVFfD8r
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Pd8XE8KYzW7Let",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1708908137,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "static@email.com",
          "invoice_prefix": "62E928EA",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Hayes, Miller and Herman 8 | Static Name",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 26 Feb 2024 00:42:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_Pd8XE8KYzW7Let&items[0][price]=price_1OdkCHBLjyMcgacQoXsoA2v0&items[0][quantity]=1&trial_period_days=30&trial_settings[end_behavior][missing_payment_method]=cancel&payment_settings[save_default_payment_method]=on_subscription
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bb47497c-cc0e-46eb-b9f3-4d4dafac2019
      Original-Request:
      - req_YGLeyK46Dy4mWt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1OnsGrBLjyMcgacQX4j5Hszb",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1711500137,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1708908137,
          "currency": "usd",
          "current_period_end": 1711500137,
          "current_period_start": 1708908137,
          "customer": "cus_Pd8XE8KYzW7Let",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_Pd8XP4cCifqO2S",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1708908138,
                "metadata": {},
                "plan": {
                  "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1706493821,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PSfXu5KouT6GdC",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1706493821,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PSfXu5KouT6GdC",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1OnsGrBLjyMcgacQX4j5Hszb",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1OnsGrBLjyMcgacQX4j5Hszb"
          },
          "latest_invoice": "in_1OnsGsBLjyMcgacQahL0rzfP",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "on_subscription"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": "seti_1OnsGsBLjyMcgacQMCt23qnh",
          "pending_update": null,
          "plan": {
            "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1706493821,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_PSfXu5KouT6GdC",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1708908137,
          "status": "trialing",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": 1711500137,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "cancel"
            }
          },
          "trial_start": 1708908137
        }
  recorded_at: Mon, 26 Feb 2024 00:42:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_Pd8XE8KYzW7Let&return_url=http%3A%2F%2Flocalhost%3A3000%2Fsettings%2Fbilling_information&flow_data[type]=payment_method_update
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e1e9eba0-cfb4-48d9-bb81-10b11e9a22b2
      Original-Request:
      - req_s1GfqNoa9aqb8w
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_1OnsGsBLjyMcgacQ2nim8dTC",
          "object": "billing_portal.session",
          "configuration": "bpc_1OnRwlBLjyMcgacQIFQmjWwt",
          "created": 1708908138,
          "customer": "cus_Pd8XE8KYzW7Let",
          "flow": {
            "after_completion": {
              "hosted_confirmation": {
                "custom_message": null
              },
              "redirect": null,
              "type": "hosted_confirmation"
            },
            "subscription_cancel": null,
            "subscription_update": null,
            "subscription_update_confirm": null,
            "type": "payment_method_update"
          },
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://localhost:3000/settings/billing_information",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8xT1NocGhCTGp5TWNnYWNRLF9QZDhYSDJsYXN0SUM3VTJzYUcyaTg4eklDR1ZFNlNO01001jlCldk6/flow"
        }
  recorded_at: Mon, 26 Feb 2024 00:42:18 GMT
recorded_with: VCR 6.2.0
