<% content_for(:header) do %>
  <%= current_user == @viewing_user ? "My StaffPlan" : "#{@viewing_user.name}'s StaffPlan" %>
<% end %>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <%= render(StaffPlanColumnHeaderComponent.new(beginning_of_week: @query.beginning_of_week)) %>
          <tbody class="divide-y divide-gray-200 bg-white">
          <% @query.clients.each do |client| %>
            <%= render(ClientRowComponent.new(client:)) %>
            <% @query.projects_for(client: client).each do |project| %>
              <%= render(AssignmentRowComponent.new(
                assignment: @query.assignment_for(project:),
                work_weeks: @query.work_weeks_for(project:),
                beginning_of_week: @query.beginning_of_week))
              %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
