---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Durgan-Strosin+28%27s%27+Company+%7C+Durgan-Strosin+28&email=something%40static.com
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ebb41fbf-db55-48c4-9f88-df6104e935ec
      Original-Request:
      - req_Dq7ah0dIYjECfc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PSZPsa6OpASruY",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1706471006,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "something@static.com",
          "invoice_prefix": "6DBDBBA6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Durgan-Strosin 28's' Company | Durgan-Strosin 28",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 28 Jan 2024 19:43:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_PSZPsa6OpASruY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PSZPsa6OpASruY",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1706471006,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "something@static.com",
          "invoice_prefix": "6DBDBBA6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Durgan-Strosin 28's' Company | Durgan-Strosin 28",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 28 Jan 2024 19:43:26 GMT
recorded_with: VCR 6.2.0
