<div class='aggregate-work-week' data-bind="attr: {style: wrapperStyle(), cweek: workWeek.cweek, year: workWeek.year}">
  <div data-bind="attr: {style: barGraphStyle(), title: titleText()}" class="actual work-week">
    <div data-bind="text: columnTotal()" class="column-total"></div>
  </div>
</div>
