<div class='assignment-work-week'>
  <input class="planned" type="text" data-bind="value: work_week.estimated_hours" />
  <!-- ko ifnot: isFutureWorkWeek() -->
    <input class="actual" type="text" data-bind="value: work_week.actual_hours" />
  <!-- /ko -->
</div>
