<ul data-bind="foreach: visibleAssignments">
  <li class="assignment box" data-bind="component: {name: 'assignment-list-item', params: {assignment: $data, clientListItem: $parent, weekRange: $parents[2].weekRange}}"></li>
</ul>
