<div class="user-info single-flexible-column" data-bind="attr: {class: wide ? 'wide user-info single-flexible-column' : 'user-info single-flexible-column'}">
  <a data-bind="attr: { href: staffPlanURL }">
    <img data-bind="attr: { alt: user.full_name, src: user.gravatar_url }" class="gravatar" />
  </a>
  <a data-bind="attr: { href: staffPlanURL }, text: user.full_name"></a>
</div>
<div class="work-weeks width-filling-container" data-bind="foreach: visibleWorkWeeks">
  <aggregate-work-week params="workWeek: $data"></aggregate-work-week>
</div>
<div class="assignment-totals">
  <div data-bind="text: estimated_total"></div>
  <div data-bind="text: actual_total"></div>
  <div data-bind="text: diff"></div>
</div>
