@mixin fancy-aggregate-work-week {
  // min-height: 100px;
  vertical-align: baseline;
  position: relative;

  .column-total {
    font-size: rem(11px);
    position: absolute;
    left: 36%; /* this is gross */
    top: -20px;
  }

  .work-week {
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    @include transition (background-color 0.3s ease-in 0s, height 0.3s ease-in 0s);
  }
}
