---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Pagac+Group+5%27s%27+Company+%7C+Pagac+Group+5&email=2cristine_predovic%40wisozk.example
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e6502067-4086-40f9-9028-fb9f84bc77bf
      Original-Request:
      - req_KtggSQPj47fE6U
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PcHCFYCE2X53WV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1708709669,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "2cristine_predovic@wisozk.example",
          "invoice_prefix": "4A2DB956",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Pagac Group 5's' Company | Pagac Group 5",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 23 Feb 2024 17:34:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_PcHCFYCE2X53WV
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 55ee1f16-bde3-450a-a36c-31bfcf2b5c57
      Original-Request:
      - req_i97c6i6bzuNHZ1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1On2dlBLjyMcgacQYG3KXJMZ",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 2,
            "exp_year": 2025,
            "fingerprint": "8ZN8Ng3zOCxNFUz0",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1708709669,
          "customer": "cus_PcHCFYCE2X53WV",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 23 Feb 2024 17:34:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_PcHCFYCE2X53WV&items[0][price]=price_1OdkCHBLjyMcgacQoXsoA2v0&default_payment_method=pm_1On2dlBLjyMcgacQYG3KXJMZ
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fd92cea7-ebcc-4908-bd4b-8f8f61f594fd
      Original-Request:
      - req_67hBPaMp80Cbkk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1On2dmBLjyMcgacQOtasV7Pz",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1708709670,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1708709670,
          "currency": "usd",
          "current_period_end": 1711215270,
          "current_period_start": 1708709670,
          "customer": "cus_PcHCFYCE2X53WV",
          "days_until_due": null,
          "default_payment_method": "pm_1On2dlBLjyMcgacQYG3KXJMZ",
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_PcHC4Dt3nVk2Ig",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1708709670,
                "metadata": {},
                "plan": {
                  "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 300,
                  "amount_decimal": "300",
                  "billing_scheme": "per_unit",
                  "created": 1706493821,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PSfXu5KouT6GdC",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1706493821,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_PSfXu5KouT6GdC",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 300,
                  "unit_amount_decimal": "300"
                },
                "quantity": 1,
                "subscription": "sub_1On2dmBLjyMcgacQOtasV7Pz",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1On2dmBLjyMcgacQOtasV7Pz"
          },
          "latest_invoice": "in_1On2dmBLjyMcgacQ7kSLXAWZ",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1OdkCHBLjyMcgacQoXsoA2v0",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 300,
            "amount_decimal": "300",
            "billing_scheme": "per_unit",
            "created": 1706493821,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_PSfXu5KouT6GdC",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1708709670,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Fri, 23 Feb 2024 17:34:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?customer=cus_PcHCFYCE2X53WV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_PcHCFYCE2X53WV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PcHCFYCE2X53WV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1708709669,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "2cristine_predovic@wisozk.example",
          "invoice_prefix": "4A2DB956",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Pagac Group 5's' Company | Pagac Group 5",
          "next_invoice_sequence": 2,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 23 Feb 2024 17:34:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1On2dlBLjyMcgacQYG3KXJMZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
    [...]
