<footer class="footer-2">
  <div class="footer-logo">
    <%= image_tag "logos/invo-logo.png" %>
  </div>
    <ul>
      <li><%= link_to "Open Source", "https://github.com/rescuedcode/staffplan_redux" %></li>
      <li><%= link_to "Issue Tracker", "https://github.com/rescuedcode/staffplan_redux/issues/" %></li>
      <li class="float-right"><%= link_to "by Involution Studios", "http://goinvo.com/" %></li>
    </ul>

<!--     <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/facebook-logo-circle.png" alt="">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/twitter-logo-circle.png" alt="">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/youtube-logo-circle.png" alt="">
        </a></li>
      </ul>
    </div> -->
    <div class="clear"></div>
</footer>
